# ROS
build/
install/
log/

# logs_paper
logs_paper/ground_challenge/
logs_paper/mulran/
logs_paper/kitti/
logs_paper/newer_college/
logs_paper/subt_mrs/

# Python
__pycache__/

# Editor / tooling
.vscode/
.claude
CLAUDE.md

# binary that is built during installation
src/socc_icp/socc_icp/deskewing_cpp/*.so